*{margin: 0;padding: 0;}
ul{list-style:none}
img{border: none;}
.clearfix:after,.naso-row:after{content:"\200B";display:block;height:0;clear:both;}
.clearfix,.naso-row{*zoom:1;}
.naso-col-20{width: 26%;float: left;}
.naso-col-40{width: 40%;float: left;}
.naso-text-center{text-align: center;}
.naso-text-right{text-align: right;}
.naso-vertical-top{vertical-align: top;}
.naso-vertical-md{vertical-align: middle;}
.naso-marl10p{margin-left: 10%;}
.naso-marlsm{margin-left: 10px;}
.naso-martlg{margin-top: 40px;}
.naso-martmd{margin-top: 20px;}
.naso-martsm{margin-top: 10px;}
.naso-padlsm{padding-left: 10px;}
.naso-bdr{border-right: 1px solid #fff;}
.naso-btn-primary{display:inline-block;padding-left: 1em;padding-right: 1em;line-height: 30px;text-align:center;text-decoration: none;color: #fff;background: #ff5252;box-shadow: 0 0 3px #666;cursor: pointer;}
.naso-btn-primary:hover{background: #f54e4e;}
.naso-btn-jr{display: block;width: 179px;line-height: 38px;margin-left: auto;margin-right: auto;text-align: center;border-radius: 3px;border:1px solid #fff;color: #fff;text-decoration: none;font: "Microsoft Yahei"}
.naso-btn-jr:hover{font-size: 18px;}
.naso-fsmd{font-size: 16px;}
.guide-bar{width: 40px;list-style: none;box-shadow: 0 0 8px #aaa;border: 1px solid #ccc;position: fixed;right: 0;top: 20%;}
.guide-item-down{background: #167cbc url(../images/icon-arrow-down.png) no-repeat 50% 50%;text-indent: -9999em;}
.guide-item-up{background: #167cbc url(../images/icon-arrow-up.png) no-repeat 50% 50%;text-indent: -9999em;}
.guide-item-down:hover,.guide-item-up:hover{ background-color: #167cbc;}
.guide-item{display: block;width: 40px;line-height: 26px;border-bottom: 1px solid #55b1e5;cursor: pointer;text-align: center;text-indent: -9999em;background-repeat: no-repeat;background-position: 50% 50%; background-color: #167cbc;font-size: 14px;}
.guide-item:hover,.guide-item.on{background-color: #2ab9ee;text-indent: 0;background-image: none;color: #fff}
.guide-item-jr{background-image: url(../images/icon-jr.png);}
.guide-item-wl{background-image: url(../images/icon-wl.png);}
.guide-item-jg{background-image: url(../images/icon-jg.png);}
.guide-item-js{background-image: url(../images/icon-js.png);}
.naso-layer{position: absolute;display: none;width: 272px;padding: 14px 20px;background: #2989bd;background: rgba(19, 126, 188, 0.95);color: #fff;font: 14px "SimHei";box-shadow: 0 0 3px #666}
.naso-layer a{color: #fff;text-decoration: none;}
.slide-wrapper{display: block;width: 350px;overflow: hidden;}
.naso-prev-btn,.naso-next-btn{position: absolute;display: block;top: 45%;width: 21px;height: 21px;z-index: 2}
.naso-prev-btn{left: 0;background: url(../images/naso-prev-btn.png);}
.naso-next-btn{right: 0;background: url(../images/naso-next-btn.png);}
#naso-slide-wrapper{width: 280px;height: 255px;overflow: hidden;position: relative;background-image: url(../images/bg-jr.png);}
.naso-pages{width: 999em;position: absolute;height: 285px;}
.naso-page{float: left;width: 280px;height: 285px;}
.naso-jr-category p{padding-top: 4px;padding-bottom: 4px;}
.naso-jr-category a{color: #fff;text-decoration: none;font-size: 17px;}
.naso-jr-bg{background-image: url(../images/naso-jr-bg.png);}
.guide-item-zx{
	background-color: #167cbc;
	text-indent: 0;
	color: white;
	height: 28px;
}
/*资讯*/
.naso-layer>ul{
	margin: -2px 0 0 0;
}
.naso-layer>ul li{
	width: 84px;
    padding: 14px 4px 0 0;
	float: left;
}
.naso-layer>ul li span {
	width: 68px;
	display: block;
	margin: 0 0 0 20px;
	font-size: 38px;
}
.naso-layer>ul li i{
	font-style: Microsoft Yahei;
	font-style: normal;
	display: block;
	font-size : 12px;
	-webkit-transform : scale(0.84) ;
	*font-size:10px;
}
